
<div class="stjr-product-review-page" data-product-id="{{ product.selected_or_first_available_variant.sku|default:product.selected_or_first_available_variant.id|string }}" data-group="item_group" data-item-group="{{product.handle}}"></div>

{% schema %}
{
  "name": "Reviews"
}
{% endschema %}